# packages
G3DModelImporter.userprefs

*.suo
*.exe
/packages
/TestGame/obj
/TestGame/Content/obj/DesktopGL/soldier.mgcontent
/TestGame/Content/obj/DesktopGL/.mgcontent
/TestGame/Content/bin
/TestGame/bin
